/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
}

 /*Buttons */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.approve-btn {
    background: green;
    color: white;
}

.block-btn {
    background: orange;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
}


/* Sidebar */
.sidebar {
    width: 250px;
    background: #005A34;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar ul li:hover, .sidebar ul .active {
    background: #008C5E;
}

.sidebar ul .logout {
    margin-top: auto;
    background: #ff4d4d;
    text-align: center;
}

/* main */

main{
    width: 68em;
    position: absolute;
    right: 0;
}

.requests, .history {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.requests h2, .history h2 {
    color: #008C5E;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #008C5E;
    color: white;
}

.action-btn {
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.complete-btn {
    background-color: #28a745;
    color: white;
}
